<div *ngIf="ai">
  <div class="top-parent">
    <h3>Analog input tag</h3>
  </div>
  <div class="parent" *ngIf="ready">
    <div></div>
    <div class="left">
      <div class="top">
        <div class="container">
          <div class="left-content">
            <div class="text">
              Number of alarms
            </div>
          </div>
          <div class="divider"></div>
          <div class="right-content">
            <div class="numberText">
              {{numberOfAlarms}}
            </div>
          </div>
        </div>
        <div></div>
        <div class="container" *ngIf="tag">
          <div class="left-content">
            <app-donut-chart [percentage]="p"></app-donut-chart>
          </div>
          <div class="right-content">
            <div class="text">
              {{100-p}}% before alarm alert
            </div>
          </div>
        </div>
        <div></div>
        <div class="container">
          <div class="left-content" (click)="createAlarm()">
            <div class="icon">
              <img src="assets/alarm.png" alt="Icon Image">
            </div>
            <div class="text">
              Create new alarm!
            </div>
          </div>
          <div class="divider"></div>
          <div class="right-content">
            <div class="switch-container">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="isSwitchOn" (click)="turnOnOffScan()">
                <span class="slider"></span>
              </label>
            </div>
            <div class="text">
              Turn on/off scan!
            </div>
          </div>
        </div>
      </div>
      <div></div>
      <app-chart class="bottom" [name]="tag.name" [type]='"AI"' *ngIf="tag"></app-chart>
    </div>
    <div></div>
    <div class="right">
      <div class="item">Tag details</div>
      <div class="item">Name: {{tag.name}}</div>
      <div class="item">Description: {{tag.description}}</div>
      <div class="item">IOAddress: {{tag.ioAddress}}</div>
      <div class="item">Driver: {{tag.driver}}</div>
      <div class="item">ScanTime: {{tag.scanTime}}</div>
      <div class="item">DateTime: {{tag.dateTime | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      <div class="item">LowLimit: {{tag.lowLimit}} {{tag.units}}</div>
      <div class="item">HighLimit: {{tag.highLimit}} {{tag.units}}</div>
      <div class="item">Value: {{tag.value}} {{tag.units}}</div>
    </div>
    <div></div>
  </div>

</div>
<div *ngIf="ao">
  <div class="top-parent">
    <h3>Analog output tag</h3>
  </div>
  <div class="parent">
    <div></div>
    <div class="left">
<!--      <app-chart></app-chart>-->
    </div>
    <div></div>
    <div class="right">
      <div class="item">Tag details</div>
      <div class="item">Name: {{tag.name}}</div>
      <div class="item">Description: {{tag.description}}</div>
      <div class="item">IOAddress: {{tag.ioAddress}}</div>
      <div class="item">DateTime: {{tag.dateTime | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      <div class="item">LowLimit: {{tag.lowLimit}} {{tag.units}}</div>
      <div class="item">HighLimit: {{tag.highLimit}} {{tag.units}}</div>
      <div class="item">Value: {{tag.value}} {{tag.units}}</div>
    </div>
    <div></div>
  </div>

</div>
<div *ngIf="do">
  <div class="top-parent">
    <h3>Digital output tag</h3>
  </div>
  <div class="parent">
    <div></div>
    <div class="left">
<!--      <app-chart></app-chart>-->
    </div>
    <div></div>
    <div class="right">
      <div class="item">Tag details</div>
      <div class="item">Name: {{tag.name}}</div>
      <div class="item">Description: {{tag.description}}</div>
      <div class="item">IOAddress: {{tag.ioAddress}}</div>
      <div class="item">DateTime: {{tag.dateTime | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      <div class="item">Value: {{tag.value}} {{tag.units}}</div>
    </div>
    <div></div>
  </div>
</div>
<div *ngIf="di">
  <div class="top-parent">
    <h3>Digital input tag</h3>
  </div>
  <div class="parent">
    <div></div>
    <div class="left">
<!--      <app-chart class="bottom"></app-chart>-->
    </div>
    <div></div>
    <div class="right">
      <div class="item">Tag details</div>
      <div class="item">Name: {{tag.name}}</div>
      <div class="item">Description: {{tag.description}}</div>
      <div class="item">IOAddress: {{tag.ioAddress}}</div>
      <div class="item">Driver: {{tag.driver}}</div>
      <div class="item">ScanTime: {{tag.scanTime}}</div>
      <div class="item">DateTime: {{tag.dateTime | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      <div class="item">Value: {{tag.value}} {{tag.units}}</div>
    </div>
    <div></div>
  </div>
</div>
