table {
  width: 90%;
  border-radius: 1rem;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #F2EEE7;
}

.container{
  background: #182034;
  border-radius: 0.5rem;
  width: 94%;
  margin-top: 5rem;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

.parent{
  display: grid;
  place-items: center;

}

thead {
  background: #182034;
  color: #BCAA8A;
  position: sticky;
  top: 0;
}

th, td {
  border-radius: 1rem;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}


tr:hover {
  background: #182034;
  color: #BCAA8A;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #BCAA8A;
  border-radius: 5px;
}

.delete-button {
  background-color: #BCAA8A;
  color: #182034;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #ab7c35;
  color: #182034;
  transform: scale(1.1);
}

.delete-button i {
  font-size: 18px;
}

.priority{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
